
body{
	padding-top:5px;
	padding-left:2%;
	padding-right:5%;
}

.brand{
	font-family:'Raleway', sans-serif;
	font-weight:700;
	font-size:15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.breadcrumb {
	padding: 8px 1px;
	margin-bottom: 20px;
	list-style: none;
	background-color: transparent;
	border-radius: 0px;
	font-family:'Raleway', sans-serif;
	font-weight:700;
	font-size:13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.description{
	max-width:600px;
	font-family:'Raleway', sans-serif;
	font-size:14px;	
	font-weight:700;
	letter-spacing:0.5px;
	line-height: 1.6;
}

#imagesize{
	max-width:600px;
}

#imagesize2{
	max-width:800px;
}