.vertical-alignment {
	height: 100vh;
	display: flex;
	align-items: center;
}

/*.brand-row {
	height: 50vh;
	display: flex;
	align-items: center;
}
.about-row {
	height: 50vh;
	display: flex;
	align-items: center;

}*/

.brand-container {
	width: 100%;
	margin-top: -40px;
}

.stuff {
	width: 100%;
}

body{
	padding-top:5px;
	padding-left:2%;
	padding-right:2%;
}


.project-title{
	padding-top:8px;
	color:black;
	font-family:'Raleway', sans-serif;
	font-weight:700;
	font-size:15px;
	color:blue;

}


.brand{
	font-family:'Raleway', sans-serif;
	font-weight:700;
	font-size:15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 4px solid #0006ff;
	width:123px;
	height:41px;
	padding: 8px;
	margin-left:-5px;
	color:blue;
}

.brand2{
	margin-left:auto;
	margin-right:auto;
	font-family:'Raleway', sans-serif;
	font-weight:700;
	font-size:25px;
	letter-spacing:1px;
	text-transform: uppercase;
	border: 4px solid #0006ff;
	width:180px;
	height:55px;
	color:blue;
	padding:7px;

}

.index-container{
	margin-left:auto;
	margin-right:auto;
	/*width:150px;*/

}

.brand-korean{
	font-family:'Raleway', sans-serif;
	font-weight:700;
	font-size:15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 4px solid #0006ff;
	width:75px;
	height:41px;
	padding: 7px;
	margin-left:-5px;
	color:blue;
}


.breadcrumb {
	padding: 8px 1px;
	margin-top:10px;
	margin-bottom: 20px;
	list-style: none;
	background-color: transparent;
	border-radius: 0px;
	font-family:'Raleway', sans-serif;
	font-weight:700;
	font-size:13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.description{
	max-width:600px;
	font-family:'Raleway', sans-serif;
	font-size:14px;	
	font-weight:700;
	letter-spacing:0.5px;
	line-height: 1.6;
}

#imagesize{
	max-width:600px;
}

#imagesize2{
	max-width:800px;
}

.email:hover {
	color:blue;
	background-color:transparent;
}


a {
	color:#0006ff;
}

a:hover{
	color:red;
	background-color: yellow;
	text-decoration:none;
}

.thumbnail{
	border:none;
}